**User Information:**
<user_info>
Name: {user_name}
</user_info>

**Purchase Information:**
<purchase_info>
Purchased Courses: {purchased_courses}
</purchase_info>

**Interaction History:**
<interaction_history>
{interaction_history}
</interaction_history>